---
---

/**
 * This set of CSS comes from my CSS project, Walden
 * https://github.com/kylehalleman/walden/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --container-size: 50em;
  --base-color: hsl(0, 0%, 20%);
  --base-bg: hsl(0, 0%, 96%);
  --base-color--transparent: hsla(0, 0%, 20%, 0.375);
  --base-color--very-transparent: hsla(0, 0%, 20%, 0.0375);
  --base-link-color: #4a69bd;
  --base-link-visited: rebeccapurple;
  --base-link-active: hsl(344, 79%, 40%);
}

@media (prefers-color-scheme: dark), (prefers-dark-interface) {
  :root {
    --base-color: hsl(0, 0%, 96%);
    --base-bg: hsl(0, 0%, 20%);
    --base-color--transparent: hsla(0, 0%, 96%, 0.375);
    --base-color--very-transparent: hsla(0, 0%, 96%, 0.0375);
    --base-link-color: #25ccf7;
    --base-link-visited: #d6a2e8;
    --base-link-active: #f1c40f;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  /**
    * use the system font
    * https://furbo.org/2018/03/28/system-fonts-in-css/
    */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  /* https://css-tricks.com/fun-viewport-units/ */
  font-size: calc(16px + 0.1vw);
  margin: 0;
  line-height: 1.4;
  background-color: hsl(0, 0%, 94%);
  background-color: var(--base-bg);
  color: hsl(0, 0%, 20%);
  color: var(--base-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--base-link-color);

  &:active {
    color: var(--base-link-active);
  }

  &:visited {
    color: var(--base-link-visited);
  }
}

main {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 0 1em;
  max-width: var(--container-size);

  .layout--home & {
    max-width: 40em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75em 0 0.5em;
}

p + p {
  margin: 1em 0 0;
  margin-block-start: 1em;
}

abbr {
  text-decoration: none;
  border-bottom: 0.0625em dotted;
  cursor: help;
}

small {
  font-size: 80%;
}

sub,
sup {
  line-height: 1;
}

blockquote {
  margin-left: 1.25em;
  margin-inline-start: 1.25em;
  margin-right: 2em;
  margin-inline-end: 2em;
  padding-left: 0.75em;
  border-left: 0.0625em solid;
}

ol,
ul {
  margin: 0 0 1em;
  margin-block-end: 1em;
  padding-left: 2em;
}

/**
 * Resume-specific stuff here. Lots of element selectors and more complex
 * selectors than I'd normally like, but the challenge is using pretty much
 * straight HTML from Markdown...
 */

.site-nav {
  margin: 0 auto;
  padding: 0 1em;
  max-width: var(--container-size);
  margin: 1em auto;
  display: flex;
  list-style: none;
  justify-content: center;
}

.site-nav__item {
  margin: 0 1em;
}

// my name
h1 {
  text-align: right;
}

// sections (work experience, education, certifications)
h2 {
  background-color: var(--base-color);
  color: var(--base-bg);
  padding: 0 0.25em;
}

// work experience sections
h3 {
  padding-left: 0.5rem;
  position: relative;
  margin-bottom: 0;

  ~ h3 {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  em {
    font-size: 75%;
    font-style: normal;
  }
}

// job title + years
.experience {
  p {
    padding-right: 0.5rem;
    border-top: 0.125em solid;
    margin: 0 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    em {
      background-color: var(--base-color);
      color: var(--base-bg);
      padding: 0 0.5rem;
      font-style: normal;
    }
  }
}

// skills + technology column in work experience
// keep a semantic ul but show it as a comma-separated list
div + div {
  ul {
    list-style: none;
    display: block;
    padding-left: 0;
  }

  li {
    display: inline;

    &::after {
      content: ", ";
    }

    &:last-of-type::after {
      content: ".";
    }
  }
}

#education + ul {
  list-style: none;
  padding-left: 0;

  > li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > ul {
      width: 100%;
    }
  }
}

#certifications + ul {
  list-style: none;
  padding-left: 0;

  > li {
    display: flex;
    justify-content: space-between;
    text-align: right;
    text-align: end;

    strong {
      display: block;
      text-align: left;
      text-align: start;
    }
  }
}

footer {
  margin: 1em 0;
  padding: 1em;
  text-align: center;
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 1em;
}

@media (min-width: 670px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .experience {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1em;

    + .experience {
      margin-top: 1em;
    }

    h3 {
      grid-column: 1 / -1;
      margin-top: 0;
    }

    p {
      grid-column: 1 / -1;
      margin-bottom: 0;
    }
  }

  #certifications + ul > li {
    margin-bottom: 0.5em;
  }

  section:not(.experience) {
    flex: 1 1 auto;
    width: calc(50% - 0.5em);

    &:last-of-type {
      margin-left: 1em;
    }
  }
}

@media print {
  main {
    max-width: 7in;
  }
  body {
    font-size: 10pt;
    background-color: transparent;
  }
  header,
  footer {
    display: none;
  }
  h1 {
    margin-top: 0;
  }
}
